:root {
	--grey: oklch(80% 3% 200);
	--white: #ffffff;
	--tortilla: #9a7b4f;
	--tan: #d2b48c;
	--mocha: #3c280d;
	--maroon: #800000;
	--maroon-color-accent: oklch(from var(--maroon) 100% 50% h);
	--wallnut: #432616;
	--gingerbread: #5e2c04;
	--peanut: #745c34;
	--tawny: #80471c;
}

@media (prefers-color-scheme: light) {
	body {
		color: black;
		background-color: var(--tan);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: var(--wallnut);
	}
}

body {
	/* Set line height to 1.5 times the font size
	and use the OS’s UI font as the website font
	 */
	font: 100%/1.5 system-ui;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	max-width: 100ch;

	margin-inline: max(1em, (100% - 100ch) / 2);
}

/* ========================================================= */
/* Navbar */
nav {
	display: flex;
}

/* Navbar links */
nav a{
	flex: 1;

	text-decoration: none;
	color: inherit; /* Uses the same color as its parent */
	text-align: center;

	padding: 0.5em;

	border-bottom-width: 1px;
	border-bottom-style: solid;
}

@media (prefers-color-scheme: light){
	nav a {
		border-bottom-color: var(--tortilla);
	}
}
@media (prefers-color-scheme: dark){
	nav a {
		border-bottom-color: var(--tortilla);
	}
}

a.current {
	padding-bottom: -5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

@media (prefers-color-scheme: light) {
	a.current {
		border-bottom-color: var(--mocha);
	}
}
@media (prefers-color-scheme: dark) {
	a.current {
		border-bottom-color: var(--peanut);
	}
}

a:hover {
	padding-bottom: -5px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}
@media (prefers-color-scheme: light){
	a:hover {
		border-bottom-color: var(--maroon);
		
		background-color: var(--maroon-color-accent);
	}
}
@media (prefers-color-scheme: dark){
	a:hover {
		border-bottom-color: var(--tawny);
		
		background-color: var(--peanut);
	}
}

/* Contact form */
.form input,
.form textarea,
.form #button {
	font: inherit;
	grid-column: 1 / -1;
}

.form form {
	display: grid;

	grid-template-columns: auto 1fr;
	gap: 1em;
}

.form form label {
	display: grid;
	grid-template-columns: subgrid;
}
.form label,
.form button {
	grid-column: 1 / -1;
}

/* Projects page */
img {
	max-width: 100%;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
	grid-template-columns: subgrid;

	grid-row: span 3;
}

.projects h2 {
	margin: 0;
}

h1, h2, h3 {
	text-wrap: valance;
}

/* CV page */
.cv {
	display: grid;
	grid-template-columns: auto 1fr;
}

.cv .section,
.cv .info {
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
}

/* Theme switch */
.color-scheme {
	position: absolute;
	
	top: 1rem;
	right: 1rem;

	display: inline-flex;
	gap: 4px;

	font-family: inherit;
	font-size: 80%;
}

body {
	padding: 1rem, 1rem, 0, 0
}